<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SwiftVersion</key>
	<string>3.1</string>
	<key>Version</key>
	<string>1.0</string>
	<key>ContentVersion</key>
	<string>1.0</string>
	<key>Name</key>
	<string>Reduce</string>
	<key>ContentIdentifier</key>
	<string>steffen-ryll.swift-reduce</string>
	<key>DeploymentTarget</key>
	<string>ios10.0</string>
	<key>Chapters</key>
	<array>
		<string>Tasks.playgroundchapter</string>
	</array>
	<key>ImageReference</key>
	<string>Icon.png</string>
</dict>
</plist>
